<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/book/new">Create New Book in DB</a>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta asperiores vel consequuntur porro repellat maxime et obcaecati rem beatae maiores iure iste recusandae nisi laboriosam perferendis libero nam, quaerat blanditiis.
    Tenetur beatae exercitationem velit consequuntur cumque expedita corporis maxime aut quia maiores, aperiam et error ipsam incidunt pariatur saepe rerum explicabo nemo doloremque. Saepe enim itaque quod! Temporibus, id vel?</p>
</body>
</html>