<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Data of book</h1>

    <form action="/book" method="post">
        <input type="text" placeholder="title" name="title">
        <input type="number" placeholder="price" name="price">
        <input type="text" placeholder="author" name="author">
        <input type="number" placeholder="numOfPages" name="numOfPages">
        <button>Submit</button>
    </form>
</body>
</html>